**In this task you should use Pandas to answer a few questions about the Adult Dataset(provided).

Unique values of all features:
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('adult_csv.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [17]:
# You code here
#data['sex'].groupby('Male').count()
df['sex'].value_counts()

Male      32650
Female    16192
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [21]:
# You code here
df[df['sex']== 'Female']['age'].mean()

1.6038784584980237

**3. What is the percentage of German citizens (*native-country* feature)?**

In [33]:
df['native-country'].value_counts()

United-States                 43832
Mexico                          951
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Nicaragua                        49
Greece                           49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Yugoslavia                       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64

In [34]:
# You code here
german = df[df['native-country'] == "Germany"]["native-country"].count()
total = df['native-country'].count()
percent = german*100/total
percent

0.4293008231739085

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [38]:
df['class'].unique()

array(['<=50K', '>50K'], dtype=object)

In [41]:
# You code here
below_50_mean = df[df['class']=='<=50K']['age'].mean()
print('mean of age for those who earn less than 50K per year:', below_50_mean)
above_50_mean = df[df['class']=='>50K']['age'].mean()
print('mean of age for those who earn more than 50K per year:', above_50_mean)

below_50_std = df[df['class']=='<=50K']['age'].std()
print('Standard deviation of age for those who earn less than 50K per year:', below_50_std)
above_50_std = df[df['class']=='>50K']['age'].std()
print('Standard deviation of age for those who earn more than 50K per year:', above_50_std)

mean of age for those who earn less than 50K per year: 1.5902301170771094
mean of age for those who earn more than 50K per year: 2.3460254984170446
Standard deviation of age for those who earn less than 50K per year: 1.3222117421838715
Standard deviation of age for those who earn more than 50K per year: 1.010075584122801

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [43]:
# You code here
#df.loc[df['class']== '>50K', 'education'].unique
df[df['class']=='>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th', 'Preschool'],
      dtype=object)

YES

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [46]:
# You code here
df.groupby('race').describe()

                        age                                               \
                      count      mean       std  min  25%  50%  75%  max
race
Amer-Indian-Eskimo    470.0  1.595745  1.190932  0.0  1.0  1.0  2.0  4.0
Asian-Pac-Islander   1519.0  1.680053  1.210000  0.0  1.0  2.0  2.0  4.0
Black                4685.0  1.712273  1.247384  0.0  1.0  2.0  3.0  4.0
Other                 406.0  1.315271  1.150035  0.0  0.0  1.0  2.0  4.0
White               41762.0  1.787390  1.304864  0.0  1.0  2.0  3.0  4.0

                     fnlwgt                 ... capitalloss      hoursperweek  \
                      count           mean  ...         75%  max        count
race                                        ...
Amer-Indian-Eskimo    470.0  120110.985106  ...         0.0  3.0        470.0
Asian-Pac-Islander   1519.0  159796.946675  ...         0.0  4.0       1519.0
Black                4685.0  230485.070438  ...         0.0  4.0       4685.0
Other                 406.0  195715.689655  ...         0.0  4.0        406.0
White               41762.0  186894.995738  ...         0.0  4.0      41762.0


                        mean       std  min   25%  50%  75%  max
race
Amer-Indian-Eskimo  1.938298  0.847938  0.0  2.00  2.0  2.0  4.0
Asian-Pac-Islander  1.912442  0.886643  0.0  2.00  2.0  2.0  4.0
Black               1.821772  0.787143  0.0  2.00  2.0  2.0  4.0
Other               1.834975  0.822437  0.0  1.25  2.0  2.0  4.0
White               1.967818  0.908874  0.0  2.00  2.0  2.0  4.0

[5 rows x 48 columns]

In [47]:
df.groupby('sex').describe()

            age                                                fnlwgt  \
          count      mean       std  min  25%  50%  75%  max    count
sex
Female  16192.0  1.603878  1.331462  0.0  0.0  1.0  3.0  4.0  16192.0
Male    32650.0  1.853997  1.268980  0.0  1.0  2.0  3.0  4.0  32650.0

                       ... capitalloss      hoursperweek                      \
                 mean  ...         75%  max        count      mean       std
sex                    ...
Female  185504.471714  ...         0.0  4.0      16192.0  1.646492  0.900405
Male    191727.021623  ...         0.0  4.0      32650.0  2.101562  0.856181


        min  25%  50%  75%  max
sex
Female  0.0  1.0  2.0  2.0  4.0
Male    0.0  2.0  2.0  3.0  4.0

[2 rows x 48 columns]

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [50]:
# You code here
married = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']
nums = df[df['class'] == '>50K']['marital-status'].isin(married).value_counts()

if nums[True] > nums[False]:
    print('Married')
else:
    print('Singles')

Married

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [58]:
# You code here
max_hr_weekly = data["hoursperweek"].max()
print('Max weekly hours: ', max_hr_weekly)

no_of_people = df[df["hoursperweek"] == df["hoursperweek"].max()].count().max()
print('People working max weekly hours: ', no_of_people)

maxhr_maxsalary=(data[data["hoursperweek"]==data["hoursperweek"].max()]["class"]==">50K").value_counts()
percent = ((maxhr_maxsalary[True])/no_of_people)*100
print("percentage: ",percent)

Max weekly hours:  4
People working max weekly hours:  1676
percentage:  35.73985680190931

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [60]:
# You code here
for (country, salary), sub_df in data.groupby(['native-country', 'class']):
    print(country, salary, round(sub_df['hoursperweek'].mean(), 2))

Cambodia <=50K 2.05
Cambodia >50K 2.22
Canada <=50K 1.74
Canada >50K 2.4
China <=50K 1.67
China >50K 2.0
Columbia <=50K 1.83
Columbia >50K 3.0
Cuba <=50K 1.88
Cuba >50K 2.09
Dominican-Republic <=50K 2.03
Dominican-Republic >50K 2.2
Ecuador <=50K 1.79
Ecuador >50K 2.67
El-Salvador <=50K 1.65
El-Salvador >50K 2.09
England <=50K 1.82
England >50K 2.4
France <=50K 1.95
France >50K 2.31
Germany <=50K 1.84
Germany >50K 2.36
Greece <=50K 2.03
Greece >50K 2.94
Guatemala <=50K 1.89
Guatemala >50K 1.67
Haiti <=50K 1.65
Haiti >50K 1.89
Holand-Netherlands <=50K 2.0
Honduras <=50K 1.39
Honduras >50K 2.5
Hong <=50K 1.86
Hong >50K 2.25
Hungary <=50K 1.54
Hungary >50K 2.5
India <=50K 1.74
India >50K 2.42
Iran <=50K 1.95
Iran >50K 2.5
Ireland <=50K 2.0
Ireland >50K 2.27
Italy <=50K 1.8
Italy >50K 2.35
Jamaica <=50K 1.77
Jamaica >50K 2.2
Japan <=50K 1.9
Japan >50K 2.44
Laos <=50K 1.86
Laos >50K 2.0
Mexico <=50K 1.91
Mexico >50K 2.32
Nicaragua <=50K 1.72
Nicaragua >50K 1.67
Outlying-US(Guam-USVI-etc) <=50K 2.0
Outlying-US(Guam-USVI-etc) >50K 2.0
Peru <=50K 1.67
Peru >50K 2.0
Philippines <=50K 1.79
Philippines >50K 2.21
Poland <=50K 1.73
Poland >50K 2.0
Portugal <=50K 2.0
Portugal >50K 2.5
Puerto-Rico <=50K 1.85
Puerto-Rico >50K 2.0
Scotland <=50K 1.94
Scotland >50K 2.33
South <=50K 1.96
South >50K 2.75
Taiwan <=50K 1.62
Taiwan >50K 2.31
Thailand <=50K 2.08
Thailand >50K 3.0
Trinadad&Tobago <=50K 1.88
Trinadad&Tobago >50K 2.0
United-States <=50K 1.83
United-States >50K 2.33
Vietnam <=50K 1.77
Vietnam >50K 2.0
Yugoslavia <=50K 1.87
Yugoslavia >50K 2.25